.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.maincontainer{
  height: 1200px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
.helloh1{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 54px;
  font-weight: 900;
}
.mainnav ul{
  display: flex;
  gap: 50px;
  position: relative;
  margin-top: 18px;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
.li{
  margin-top: 5px;
  position: relative;
}
.li:hover{
  text-decoration: underline;
}
.herocontainer{
  height: 600px;
  background: url("./assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
position: relative;
margin-top: 30px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.herocontainer h2{
  font-size: 30px;
}
.blogsection{
  display: flex;
  gap: 30px;
  height: 400px;
  margin-top: 30px;
  justify-content: space-evenly;
}
.btns{display: flex;
  gap: 30px;
}
#blue{
  background-color: rgb(10 10 10);
  border: 2px solid #fff;
  color: #fff;

  
}


.herocontainer h4{
  width: 800px;
  margin: 5px;
  font-size: 18px;
}
.smallhed{
  text-align: center;
}
.btn{
width: 150px;
margin-right: 10px;
height: 48px;
font-size: 17px;
background-color: #fff;
cursor: pointer;

color: black;
border-radius: 25px;
border: 2px solid rgb(10 10 10);

}
.btn:hover{
  
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
.blogtem{
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 300px;

}
.mainnav a{
  text-decoration: none;
  list-style: none;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }


}



#blogssarea{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#blogsssection1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#btnsss1{
  position: relative;
  top: -20px;
}
#btnsss2{
  position: relative;
  top: -20px;
}

@media(max-width:726px){
  .helloh1{
    font-size: 40px;
  }
  .herocontainer h4 {
    width: 500px;
    font-size: 15px;
}
}
@media(max-width:461px){
  .maincontainer{
    height: 1612px;
  }
  .herocontainer{
    background-size: 500px 600px;
  }
  .helloh1{
    font-size: 40px;
  }
  .herocontainer h4 {
    width: 400px;
    font-size: 15px;
}
}
@media(max-width:389px){
  .helloh1{
    font-size: 40px;
  }
  .herocontainer h4 {
    width: 350px;
    font-size: 15px;
}
.btn{
  width: 130px;
  height: 40px;
}
}